/* Prologue
  // Name: index.css
  // Description: Define the highlest level CSS properties for the application
  // Programmer: Nifemi Lawal
  // Creation date: 10/23/25
  // Revisions: 1.0
  // Pre/post conditions
  //   - Pre: None. 
  //   - Post: The application's highest level CSS properties are defined.
  // Errors: None. 
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
