# Dependencies
/src/client/node_modules
node_modules
package-lock.json
/src/client/package-lock.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# React specific
/src/client/.pnp
/src/client/.pnp.js
/src/client/coverage
/src/client/build

# Logs
/src/client/npm-debug.log*
/src/client/yarn-debug.log*
/src/client/yarn-error.log*
node_modules
package-lock.json
notes.txt

# Rand
/src/flask-server/listening_hist_dump.json